* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}
body {
  background-color: #ffffff;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
div {
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
  list-style-type: none;
}
.gform__title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  -webkit-text-stroke: .5px white;
}
.gform__text {
  font-size: 15px;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  width: 100%;
}
.gform__error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ff0000;
  font-size: 15px;
  display: none;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  width: 100%;
}
.gform__input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  appearance: none;
  outline: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-appearance: none;
  border: 1px solid #2200ff;
  margin-top: 20px;
  overflow: visible;
  text-align: center;
  font-size: 20px;
}
.gform__input::placeholder {
  font-size: 20px;
}
.gform__button {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  appearance: none;
  font-size: 15px;
  border: 1px solid #2200ff;
  outline: none;
  padding: 5px;
  background: white;
  cursor: pointer;
}
.gform__json {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
}